<a href="https://colab.research.google.com/github/JamilyEst/Python-DSA/blob/main/Exerc%C3%ADcioCap2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercício do Capítulo 2**

In [1]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [6]:
list = [1,2,3,4,5,6,7,8,9,10]

In [7]:
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [12]:
lista2 = ["Jamily", 23, "Estatística", "Amontada", "Ceara"]

['Jamily', 23, 'Estatística', 'Amontada', 'Ceara']

In [13]:
lista2

['Jamily', 23, 'Estatística', 'Amontada', 'Ceara']

In [14]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [15]:
est1 = "Jamily"

In [16]:
est1

'Jamily'

In [17]:
est2 = "Estatistica"

In [18]:
est1+est2

'JamilyEstatistica'

In [19]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [24]:
tupla1 = (1,2,2,3,4,4,5)

In [25]:
tupla1

(1, 2, 2, 3, 4, 4, 5)

In [26]:
tupla1.count(4)

2

In [27]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [28]:
dict = {}

In [29]:
dict

{}

In [30]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [31]:
dict2 = {"key1":1, "key2":2,"key3":3}

In [32]:
dict2

{'key1': 1, 'key2': 2, 'key3': 3}

In [33]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [34]:
dict2["key4"] = 4

In [35]:
dict2

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [36]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [37]:
dict3 = {"key1":1, "key2":[2,2],"key3":3}

In [38]:
dict3

{'key1': 1, 'key2': [2, 2], 'key3': 3}

In [39]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dicionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

In [42]:
dict4 = ["Jamily", (23,"anos"),{"key1":1,"key2":2},48.05 ]

In [43]:
dict4

['Jamily', (23, 'anos'), {'key1': 1, 'key2': 2}, 48.05]

In [45]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [47]:
frase[0:18]

'Cientista de Dados'