<a href="https://colab.research.google.com/github/JamilyEst/Python-DSA/blob/main/Loop_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Loop For**

In [1]:
# Criando uma tupla e imprimindo cada um dos valores
tp = (2,3,4)
for i in tp:
  print(i)

2
3
4

In [3]:
# Criando uma lista e imprimindo cada um dos valores
ListadoMercado = ["Leite", "Frutas", "Carne"]
for i in ListadoMercado:
      print(i)

Leite
Frutas
Carne

In [4]:
# Imprimindo valores no intervalo entre 0 e 5 (exclusive)
for contador in range(0,5):
    print(contador)

0
1
2
3
4

In [6]:
# Imprimindo na tela os numeros pares da list de numeros
Lista = [1,2,3,4,5,6,7,8,9,10]
for num in Lista:
  if num % 2 == 0:
      print(num)

2
4
6
8
10

In [9]:
# Listando os numeros em um intervalo entre 0 e 101, com incremento em 2
for i in range(0,101,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [11]:
# String também é um caracter
for i in "Python é uma linguagem divertida":
  print(i)

P
y
t
h
o
n

é

u
m
a

l
i
n
g
u
a
g
e
m

d
i
v
e
r
t
i
d
a