<a href="https://colab.research.google.com/github/JamilyEst/Python-DSA/blob/main/Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tuplas**

In [ ]:
# Criando uma tupla
tupla1 = ("Geografia",23,"Elefantes")

In [ ]:
#tuplas não suportam append()
#tupla.append("Chocolate")
# tuplas não suportam delete de um item específico
#del dupla1["Geografia"]

In [3]:
tupla1 = ("Chocolate")

In [4]:
tupla1 = ("Geografia",23,"Elefantes")

In [5]:
tupla1[0]

'Geografia'

In [6]:
# Verificando o comprimento da tupla

len(tupla1)

3

In [7]:
# Slicing, da mesma forma que se faz com as listas
tupla1[1:]

(23, 'Elefantes')

In [8]:
tupla1.index("Elefantes")

2

In [ ]:
#Tuplas não suportam atribuição de ite,
#tupla1[1] = 21

In [ ]:
# deletando tupla
del tupla1

In [ ]:
# Criando uma tupla
t2 = ("A","B","C")

In [ ]:
t2

('A', 'B', 'C')

In [ ]:
#Tuplas não suportam atribuição de item
#t2[0] = "D"

# **Alterando uma tupla**
Converter a tupla em uma lista, e depois retornar a uma tupla

In [ ]:
lista_t2 = list(t2)

In [ ]:
lista_t2

['A', 'B', 'C']

In [ ]:
lista_t2.append("D")

In [ ]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)